[submodule "Script-Alert-HipChat-(damascopaul)/repo"]
	path = Script-Alert-HipChat-(damascopaul)/repo
	url = https://github.com/damascopaul/zenoss-hippy
[submodule "Script-Alert-Growl-(iamseth)/repo"]
	path = Script-Alert-Growl-(iamseth)/repo
	url = https://github.com/iamseth/Zenoss-to-Growl
[submodule "Script-Alert-Slack-(ssplatt)/repo"]
	path = Script-Alert-Slack-(ssplatt)/repo
	url = https://github.com/ssplatt/slack_webhook_scripts
[submodule "Script-Alert-Pushover-(nathan-oakes)/repo"]
	path = Script-Alert-Pushover-(nathan-oakes)/repo
	url = https://github.com/nathan-oakes/zenoss-pushover
[submodule "Integration-Graphite-(amorphic)/repo"]
	path = Integration-Graphite-(amorphic)/repo
	url = https://github.com/amorphic/graphite-zenossMetrics
[submodule "Script-Event-Exporter-(dougsyer)/repo"]
	path = Script-Event-Exporter-(dougsyer)/repo
	url = https://github.com/dougsyer/Zenoss-Examples-and-Tools
[submodule "Script-RRD-to-CSV-(hackeys)/repo"]
	path = Script-RRD-to-CSV-(hackeys)/repo
	url = https://github.com/hackeys/zenossScripts
[submodule "Configuration-Chef-Cookbook-Zenoss-Register-(themoore)/repo"]
	path = Configuration-Chef-Cookbook-Zenoss-Register-(themoore)/repo
	url = https://github.com/themoore/zenoss_register
[submodule "Integration-Android-Zendroid-(slashmili)/repo"]
	path = Integration-Android-Zendroid-(slashmili)/repo
	url = https://github.com/slashmili/Zendroid
[submodule "API-Python-(iamseth)/repo"]
	path = API-Python-(iamseth)/repo
	url = https://github.com/iamseth/python-zenoss
[submodule "Configuration-Chef-Cookbook-(ZCA)/repo"]
	path = Configuration-Chef-Cookbook-(ZCA)/repo
	url = https://github.com/ZCA/zenoss-chef-cookbook
[submodule "Configuration-Ansible-Playbook-(eripa)/repo"]
	path = Configuration-Ansible-Playbook-(eripa)/repo
	url = https://github.com/eripa/zenoss-ansible
[submodule "Configuration-Salt-(taandrews)/repo"]
	path = Configuration-Salt-(taandrews)/repo
	url = https://github.com/taandrews/Zenoss-4.2.4
[submodule "API-PHP-(bensnyde)/repo"]
	path = API-PHP-(bensnyde)/repo
	url = https://github.com/bensnyde/php-zenoss-api
[submodule "Script-Alert-PagerDuty-(zsprackett)/repo"]
	path = Script-Alert-PagerDuty-(zsprackett)/repo
	url = https://github.com/zsprackett/pagerduty_zenoss
[submodule "API-Ruby-(zenchild)/repo"]
	path = API-Ruby-(zenchild)/repo
	url = https://github.com/zenchild/zenoss_client
[submodule "ZenPacks.community.DistributedCollectors-(epuzanov)/repo"]
	path = ZenPacks.community.DistributedCollectors-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.DistributedCollectors
[submodule "ZenPacks.zenoss.Microsoft.Windows-(zenoss)/repo"]
	path = ZenPacks.zenoss.Microsoft.Windows-(zenoss)/repo
	url = https://github.com/zenoss/ZenPacks.zenoss.Microsoft.Windows
[submodule "ZenPack.community.MongoDB-(bcarpio)/repo"]
	path = ZenPack.community.MongoDB-(bcarpio)/repo
	url = https://github.com/bcarpio/ZenPack.community.MongoDB
[submodule "ZenPacks.community.RDBMS-(epuzanov)/repo"]
	path = ZenPacks.community.RDBMS-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.RDBMS
[submodule "ZenPacks.zenoss.OpenStackInfrastructure-(zenoss)/repo"]
	path = ZenPacks.zenoss.OpenStackInfrastructure-(zenoss)/repo
	url = https://github.com/zenoss/ZenPacks.zenoss.OpenStackInfrastructure
[submodule "ZenPacks.community.DellMon-(epuzanov)/repo"]
	path = ZenPacks.community.DellMon-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.DellMon
[submodule "ZenPacks.community.deviceAdvDetail-(epuzanov)/repo"]
	path = ZenPacks.community.deviceAdvDetail-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.deviceAdvDetail
[submodule "ZenPacks.chudler.redis-(zenoss)/repo"]
	path = ZenPacks.chudler.redis-(zenoss)/repo
	url = https://github.com/zenoss/ZenPacks.chudler.redis
[submodule "ZenPacks.zenoss.CloudStack-(zenoss)/repo"]
	path = ZenPacks.zenoss.CloudStack-(zenoss)/repo
	url = https://github.com/zenoss/ZenPacks.zenoss.CloudStack
[submodule "ZenPacks.community.HPMon-(epuzanov)/repo"]
	path = ZenPacks.community.HPMon-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.HPMon
[submodule "ZenPacks.community.PgSQLMon-(epuzanov)/repo"]
	path = ZenPacks.community.PgSQLMon-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.PgSQLMon
[submodule "ZenPacks.community.SQLDataSource-(epuzanov)/repo"]
	path = ZenPacks.community.SQLDataSource-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.SQLDataSource
[submodule "ZenPacks.community.OracleMon-(epuzanov)/repo"]
	path = ZenPacks.community.OracleMon-(epuzanov)/repo
	url = https://github.com/epuzanov/ZenPacks.community.OracleMon
