[submodule "Script-Alert-HipChat-(damascopaul)/repo"]
	path = Script-Alert-HipChat-(damascopaul)/repo
	url = https://github.com/damascopaul/zenoss-hippy
[submodule "Script-Alert-Growl-(iamseth)/repo"]
	path = Script-Alert-Growl-(iamseth)/repo
	url = https://github.com/iamseth/Zenoss-to-Growl
[submodule "Script-Alert-Slack-(ssplatt)/repo"]
	path = Script-Alert-Slack-(ssplatt)/repo
	url = https://github.com/ssplatt/slack_webhook_scripts
[submodule "Script-Alert-Pushover-(nathan-oakes)/repo"]
	path = Script-Alert-Pushover-(nathan-oakes)/repo
	url = https://github.com/nathan-oakes/zenoss-pushover
[submodule "Integration-Graphite-(amorphic)/repo"]
	path = Integration-Graphite-(amorphic)/repo
	url = https://github.com/amorphic/graphite-zenossMetrics
[submodule "Script-Event-Exporter-(dougsyer)/repo"]
	path = Script-Event-Exporter-(dougsyer)/repo
	url = https://github.com/dougsyer/Zenoss-Examples-and-Tools
[submodule "Script-RRD-to-CSV-(hackeys)/repo"]
	path = Script-RRD-to-CSV-(hackeys)/repo
	url = https://github.com/hackeys/zenossScripts
[submodule "Configuration-Chef-Cookbook-Zenoss-Register-(themoore)/repo"]
	path = Configuration-Chef-Cookbook-Zenoss-Register-(themoore)/repo
	url = https://github.com/themoore/zenoss_register
[submodule "Integration-Android-Zendroid-(slashmili)/repo"]
	path = Integration-Android-Zendroid-(slashmili)/repo
	url = https://github.com/slashmili/Zendroid
