[submodule "Script-Alert-HipChat-(damascopaul)/repo"]
	path = Script-Alert-HipChat-(damascopaul)/repo
	url = https://github.com/damascopaul/zenoss-hippy
[submodule "Script-Alert-Growl-(iamseth)/repo"]
	path = Script-Alert-Growl-(iamseth)/repo
	url = https://github.com/iamseth/Zenoss-to-Growl
[submodule "Script-Alert-Slack-(ssplatt)/repo"]
	path = Script-Alert-Slack-(ssplatt)/repo
	url = https://github.com/ssplatt/slack_webhook_scripts
[submodule "Script-Alert-Pushover-(nathan-oakes)/repo"]
	path = Script-Alert-Pushover-(nathan-oakes)/repo
	url = https://github.com/nathan-oakes/zenoss-pushover
